@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #efecdb;
  --foreground: #545454;
  --stripe-red: #A4273A;
  --stripe-orange: #F08C40;
  --stripe-yellow: #F4BC44;
  --stripe-green: #7AB782;
  --stripe-blue: #55A69D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #545454;
    --foreground: #efecdb;
  }
}

body {
  background: var(--foreground);
  background: var(--background);
  /* overflow-x:hidden; */
  /* font-family: "Pixelfy Sans", serif; */
}

h1 {
  font-family: "Doto", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 6em;
  font-variation-settings: "Rond" 0;
  color: var(--foreground);
  
}

.tv-border {
  border-style: double;
  border-width: 15px;
}


h2 {
  color: var(--foreground);
  font-family: "Pixelify Sans", serif;
  font-size: large;
}

p {
  color: var(--foreground);
  font-family: "Pixelify Sans", serif;
  font-size: large;
  
}
.blink-text {
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0% {opacity: 1}
  50% {opacity: 0}
  100% {opacity: 1}
}

.stripe-red{
  background: var(--stripe-red)
}
.stripe-orange{
  background: var(--stripe-orange)
}
.stripe-yellow {
  background: var(--stripe-yellow)
}
.stripe-green {
  background: var(--stripe-green)
}
.stripe-blue {
  background: var(--stripe-blue)
}



.tv-button {
  width: 75%;
  height: 75%;
  border-radius: 10px;
  border: none;
  outline: none;
  font-family: "Montserrat";
  
  transition: 0.1s ease-in-out;
  background-color: #c7c3c0;
  box-shadow: rgba(0, 0, 0, 0.424) 10px 10px 8px,
    #ffffff 1.5px 1.5px 2px 0px inset, #c7c3c0 -3.2px -3.2px 8px 0px inset;
}

.tv-button:active {
  box-shadow: rgba(0, 0, 0, 0.424) 0px 0px 0px, inset 0.5px 0.5px 4px #000000,
    #c7c3c0 -3.2px -3.2px 8px 0px inset;
}

.btn-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5em;
  height: 5em;
  background-color: #3b3b3b;
  border-radius: 7px;
  border-color: gray;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.424) 5px 5px 8px inset;
}

.btn-red {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5em;
  height: 5em;
  background-color: var(--stripe-red);
  border-radius: 7px;
  border-color: gray;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.424) 5px 5px 8px inset;
}

.btn-yellow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5em;
  height: 5em;
  background-color: var(--stripe-yellow);
  border-radius: 7px;
  border-color: gray;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.424) 5px 5px 8px inset;
}

.btn-orange {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5em;
  height: 5em;
  background-color: var(--stripe-orange);
  border-radius: 7px;
  border-color: gray;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.424) 5px 5px 8px inset;
}

.btn-blue {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5em;
  height: 5em;
  background-color: var(--stripe-blue);
  border-radius: 7px;
  border-color: gray;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.424) 5px 5px 8px inset;
}

.btn-home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5em;
  height: 5em;
  background-color: var(--stripe-green);
  border-radius: 7px;
  border-color: gray;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.424) 5px 5px 8px inset;
}
